#draggable-buttons-container {
  transition: opacity 0.3s ease;
}

.panel-wrapper {
  position: fixed;
  z-index: 9999;
  margin-bottom: 10px;
  cursor: move;
}

.draggable-panel {
  transition: all 0.2s ease;
  cursor: default;
  width: 200px;
  height: 150px;
}

.draggable-panel:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.panel-content {
  font-size: 14px;
  line-height: 1.4;
}

.panel-content ul {
  list-style: disc;
  padding-left: 20px;
}

.panel-content li {
  margin-bottom: 5px;
}

.hs-chzzk-card-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 50000;
  border-radius: 4px;
  width: 243px;
  height: 88vh;
}

.hs-chzzk-enemy-container {
  left: auto;
  right: 20px;
}

.hs-chzzk-drag-handle {
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: move;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hs-chzzk-drag-handle span {
  color: white;
  font-size: 12px;
}

.hs-chzzk-cards-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  height: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.hs-chzzk-card-element {
  width: 243px;
  height: 64px;
  position: relative;
  border-radius: 0;
  overflow: hidden;
  box-shadow: none;
  cursor: pointer;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

.hs-chzzk-card-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 50%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hs-chzzk-full-image {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  height: 533px;
  background-size: cover;
  background-position: center;
  z-index: 10000;
  display: none;
}

#hs-chzzk-cards-container-main .hs-chzzk-full-image {
  left: 250px;
}

#hs-chzzk-enemy-cards-container-main .hs-chzzk-full-image {
  right: 250px;
}

.hs-chzzk-resize-handle {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: ns-resize;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  z-index: 50001;
}

.hs-chzzk-resize-handle:hover {
  background-color: rgba(0, 0, 0, 0.6);
  height: 12px;
}

.hs-chzzk-resize-handle::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.hs-chzzk-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
  margin-left: 10px;
}

/* 카드 비용을 위한 스타일 */
.hs-chzzk-card-cost {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 28px;
  background: radial-gradient(circle at 30% 30%, #3f6fd6 0%, #0091ffc4 40%, #0063c9 100%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: 2;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.8), 0 0 8px rgba(0, 145, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-shadow: 0 0 4px #fff, 0 0 2px #000;
  animation: crystal-shine 5s infinite;
}

@keyframes crystal-shine {
  0%,
  100% {
    filter: brightness(0.9);
  }
  50% {
    filter: brightness(1);
  }
}
